@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #111;
}

html::-webkit-scrollbar-thumb {
  background: #29d9d5;
  border-radius: 5rem;
}

body {
  background: #111;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: #29d9d5;
  font-size: 2rem;
}

.heading h1 {
  font-size: 4rem;
  color: #fff;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #29d9d5;
  border: 0.2rem solid #29d9d5;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: #29d9d5;
  color: #111;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #aaa;
  display: inline-block;
  margin: 0 1rem;
  text-decoration: none;
}

.header .navbar a:hover {
  color: #29d9d5;
}

.header .btn {
  margin-top: 0;
}

.header .icons div{
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover{
  color: #29d9d5;
}

.header .search-from{
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.header .search-from.active{
  transform: scaleY(1);
}

.header .search-from input{
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: #111;
  text-transform: none;
}

.header .search-from label{
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: #111;
}

.header .search-from label:hover{
  color: #29d9d5;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
}

.logo i {
  color: #29d9d5;
  padding-right: .5rem;
  text-decoration: none;
}

#menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.home {
	margin: 0 auto;
	margin-top: 9rem;
	width: 90%;
	border-radius: 1rem;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url(../images/home-bg.jpg) no-repeat;
	background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../images/bg-im.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 80vh;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	padding-bottom: 5rem;
  }
  
  .home .content {
	text-align: center;
  }
  
  .home .content span {
	font-weight: bolder;
	color: transparent;
	-webkit-text-stroke: 0.1rem #fff;
	font-size: 4vw;
	display: block;
  }
  
  .home .content h3 {
	font-size: 6vw;
	color: #fff;
  }
  
  .home .content p {
	max-width: 60rem;
	margin: 1rem auto;
	font-size: 1.4rem;
	color: #aaa;
	line-height: 2;
  }

  .destination .box-container {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
		grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
	gap: 1.5rem;
  }
  
  .destination .box-container .box {
	border-radius: 1rem;
	overflow: hidden;
	background: #222;
  }
  
  .destination .box-container .box:hover img {
	-webkit-transform: scale(1.1);
			transform: scale(1.1);
  }
  
  .destination .box-container .box .image {
	height: 50rem;
	overflow: hidden;
	width: 100%;
  }
  
  .destination .box-container .box .image img {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
  }
  
  .destination .box-container .box .content {
	padding: 2rem;
	text-align: center;
  }
  
  .destination .box-container .box .content h3 {
	font-size: 2rem;
	color: #fff;
  }
  
  .destination .box-container .box .content p {
	padding: 1rem 0;
	font-size: 1.4rem;
	color: #aaa;
	line-height: 2;
  }
  
  .destination .box-container .box .content p span{
	background: rgb(255, 136, 0);
	color: #111;
	border-radius: 2px;
  }
  
  .destination .box-container .box .content p i{
	margin-left: 8px;
	margin-right: 8px;
  }
  
  .destination .box-container .box .content a {
	font-size: 1.7rem;
	color: #29d9d5;
  }
  
  .destination .box-container .box .content a:hover i {
	padding-left: 1rem;
  }
  
  .destination .box-container .box .content a i {
	padding-right: .5rem;
  }
  

  @media (max-width: 768px) {
	#menu-btn {
	  display: inline-block;
	}
	.header .navbar {
	  position: absolute;
	  top: 99%;
	  left: 0;
	  right: 0;
	  background: #222;
	  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
			  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
	.header .navbar.active {
	  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
	.header .navbar a {
	  margin: 2rem;
	  font-size: 2rem;
	  display: block;
	}
	.home {
	  margin-top: 10rem;
	}
	.home .content span {
	  font-size: 8vw;
	  text-decoration: none;
	}
	.home .content h3 {
	  font-size: 9vw;
	}
  }
  
  @media (max-width: 450px) {
	html {
	  font-size: 50%;
	}
	.about .content h3 {
	  font-size: 3.5rem;
	}
	.banner .content h3 {
	  font-size: 2.7rem;
	}
  }
  /*# sourceMappingURL=style.css.map */